<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicktacktoeInfinity">

        <service android:name=".MusicService" android:enabled="true" />

        <!-- 1. Главное меню -->
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Выбор сложности -->
        <activity
            android:name=".DifficultyMenuActivity"
            android:exported="false"
            android:label="Уровень сложности"
            android:screenOrientation="portrait" /> <!-- Исправлено здесь -->

        <!-- 3. Сама игра -->
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>